form {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 4em;
  padding: 16px 32px 16px 32px;
}

mat-form-field {
  width: 100%;
}

.dynamic-form {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: dashed 1px dodgerblue;
}
