<form class="mat-elevation-z2" [formGroup]="formGroup">
  <h2 class="text-center">Login</h2>

  <mat-form-field appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput formControlName="userName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <div class="text-right">
    <button mat-raised-button color="primary" type="button" (click)="doLogin()">Login</button>
  </div>
</form>
